body {
  font-family: 'Raleway', sans-serif;
  background-color: tomato;
 
}
h1{
  background: #078fff;
  padding: 20px;
  width: 240px;

}
nav {
  width: 210px;
}

ul{
  list-style: none;
  margin: 0;
  padding: 0;
  line-height: 20px;
}
li {
  background: #078fff;
}
a:hover {
  color: rgb(255, 255, 255);
}
a:active {
  background: yellow;
  color: #000000;
}

a {
  display: block;
  text-decoration: none;
  color: black;
  padding: 10px;
  padding-left: 20px;    
}